<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>


    <script th:src="@{/admin/plugins/jquery/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap/css/bootstrap.css}">
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.js}"></script>

    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
<!--    <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap/css/bootstrap3.3.7.min.css}">-->

    <div th:replace="admin/header::header-fragment"></div>

    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }
        .top-panel > .layui-card-body{
            height: 60px;
        }
        .top-panel-number{
            line-height:40px;
            font-size: 30px;
            border-right:1px solid #eceff9;
        }
        .top-panel-tips{
            line-height:20px;
            font-size: 12px;
        }
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
        .table{
            font-size: 15px;
        }
        .top-panel1 {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
            width: 500px;
        }
        .top-panel2 {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
            width: 500px;
            margin-left: 100px;
        }
        .top-panel3 {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
            width: 500px;
            margin-left: 200px;
        }
    </style>
</head>
<!--<body class="hold-transition sidebar-mini">-->
<body>
<div>
<!--<div class="wrapper">-->
    <div th:replace="admin/header::header-nav"></div>
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <div class="layuimini-main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel">
                        <div class="layui-card-header">总顾客人数</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs9 layui-col-md9 top-panel-number" th:text="${adminUsers.getLoginUserName()}">
<!--                                    [[${adminUsers.name}}]]-->
                                </div>
                                <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                                    比昨天 <a style="color: #1aa094">▲0.12</a><br>
                                    比七日 <a style="color: #bd3004">▼0.06</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-md3">
                    <div class="layui-card top-panel">
                        <div class="layui-card-header">总店铺个数</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                                    9,054,056
                                </div>
                                <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                                    比昨天 <a style="color: #1aa094">▲0.12</a><br>
                                    比七日 <a style="color: #bd3004">▼0.06</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel">
                        <div class="layui-card-header">总订单数</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                                    9,054,056
                                </div>
                                <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                                    比昨天 <a style="color: #1aa094">▲0.12</a><br>
                                    比七日 <a style="color: #bd3004">▼0.06</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel">
                        <div class="layui-card-header">总取消订单数</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs9 layui-col-md9 top-panel-number">
                                    9,054,056
                                </div>
                                <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                                    比昨天 <a style="color: #1aa094">▲0.12</a><br>
                                    比七日 <a style="color: #bd3004">▼0.06</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-md9">
                    <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                </div>
                <div class="layui-col-xs12 layui-col-md3">
                    <div id="echarts-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-md6">
                    <div id="echarts-dataset" style="background-color:#ffffff;min-height:300px;padding: 10px"></div>
                </div>
                <div class="layui-col-xs12 layui-col-md6">
                    <div id="echarts-map" style="background-color:#ffffff;min-height:300px;padding: 10px"></div>
                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel1">
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">总热销产品排行榜</div>

                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>产品名称</th>
                                        <th>规格</th>
                                        <th>价格</th>
                                        <th>销售量</th>
                                    </tr>
                                </thead>
                                <tbody id="tbdoy_result1"></tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel2">
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">总热销店铺排行榜</div>

                            <!-- Table -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>店铺名称</th>
                                    <th>商品</th>
                                    <th>销售额</th>
                                </tr>
                                </thead>
                                <tbody id="tbdoy_result2"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md3">

                    <div class="layui-card top-panel3">
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">平台活动案例</div>

                            <!-- Table -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>活动主题</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody id="tbdoy_result3"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<script>
    layui.use(['layer', 'echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        // echartsRecords.showLoading();
        // var optionRecords = {
        //     title: {
        //         text: '访问人数-走势图'
        //     },
        //     tooltip: {
        //         trigger: 'axis',
        //         axisPointer: {
        //             type: 'cross',
        //             label: {
        //                 backgroundColor: '#6a7985'
        //             }
        //         }
        //     },
        //     legend: {
        //         data: ['人数','订单数']
        //     },
        //     toolbox: {
        //         feature: {
        //             saveAsImage: {}
        //         }
        //     },
        //     grid: {
        //         left: '3%',
        //         right: '4%',
        //         bottom: '3%',
        //         containLabel: true
        //     },
        //     xAxis: [
        //         {
        //             type: 'category',
        //             boundaryGap: false,
        //             data: []
        //         }
        //     ],
        //     yAxis: [
        //         {
        //             type: 'value'
        //         }
        //     ],
        //     series: [
        //         // {
        //         //     name: '人数',
        //         //     type: 'line',
        //         //     stack: '总量',
        //         //     areaStyle: {},
        //         //     data: [120, 132, 101, 134, 90, 230, 210]
        //         // },
        //         // {
        //         //     name: '订单数',
        //         //     type: 'line',
        //         //     areaStyle: {},
        //         //     data: [220, 182, 191, 234, 290, 330, 310]
        //         // }
        //         // {
        //         //     name: '视频广告',
        //         //     type: 'line',
        //         //     stack: '总量',
        //         //     areaStyle: {},
        //         //     data: [150, 232, 201, 154, 190, 330, 410]
        //         // },
        //         // {
        //         //     name: '直接访问',
        //         //     type: 'line',
        //         //     stack: '总量',
        //         //     areaStyle: {},
        //         //     data: [320, 332, 301, 334, 390, 330, 320]
        //         // },
        //         // {
        //         //     name: '搜索引擎',
        //         //     type: 'line',
        //         //     stack: '总量',
        //         //     label: {
        //         //         normal: {
        //         //             show: true,
        //         //             position: 'top'
        //         //         }
        //         //     },
        //         //     areaStyle: {},
        //         //     data: [820, 932, 901, 934, 1290, 1330, 1320]
        //         // }
        //     ]
        // };

        // echartsRecords.showLoading();
        var peopleNum=[];
        var orderNum=[];
        var showTime=[];
        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/admin/show",    //请求发送到/admin/show处
            data : {},
            dataType : "json",        //返回数据形式为json
            success : function(data) {
                if(data){
                    for(var i=0;i<data.length;i++){
                        var p=data[i].originalPrice;
                        var o=data[i].stockNum;
                        var s=data[i].createTime;
                        peopleNum.push(p);
                        orderNum.push(o);
                        showTime.push(s);
                    }
                    echartsRecords.hideLoading();
                    echartsRecords.setOption(
                        {
                            title: {
                                text: '访问人数-订单数'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['人数','订单数']
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: showTime
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '人数',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: peopleNum
                                },
                                {
                                    name: '订单数',
                                    type: 'line',
                                    areaStyle: {},
                                    data: orderNum
                                }
                            ]
                        }
                    )
                }
            }
        });
        // echartsRecords.setOption(optionRecords);


        /**
         * 玫瑰图表
         */
        var echartsPies = echarts.init(document.getElementById('echarts-pies'), 'walden');
        // var optionPies = {
        //     title: {
        //         text: '指标名称-玫瑰图',
        //         left: 'center'
        //     },
        //     tooltip: {
        //         trigger: 'item',
        //         formatter: '{a} <br/>{b} : {c} ({d}%)'
        //     },
        //     legend: {
        //         orient: 'vertical',
        //         left: 'left',
        //         data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
        //     },
        //     series: [
        //         {
        //             name: '访问来源',
        //             type: 'pie',
        //             radius: '55%',
        //             center: ['50%', '60%'],
        //             roseType: 'radius',
        //             data: [
        //                 {value: 335, name: '直接访问'},
        //                 {value: 310, name: '邮件营销'},
        //                 {value: 234, name: '联盟广告'},
        //                 {value: 135, name: '视频广告'},
        //                 {value: 368, name: '搜索引擎'}
        //             ],
        //             emphasis: {
        //                 itemStyle: {
        //                     shadowBlur: 10,
        //                     shadowOffsetX: 0,
        //                     shadowColor: 'rgba(0, 0, 0, 0.5)'
        //                 }
        //             }
        //         }
        //     ]
        // };
        // echartsPies.setOption(optionPies);
        var values=[];
        echartsPies.showLoading();

        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/admin/show",    //请求发送到/admin/show处
            data : {},
            dataType : "json",        //返回数据形式为json
            success : function(data){
                if(data){
                    for (var i=0;i<data.length;i++){
                        var test={"value":data[i].originalPrice,"name":data[i].goodsName}
                        values.push(test);
                    }
                    echartsPies.hideLoading();
                    echartsPies.setOption(
                        {
                            title: {
                                text: '',
                                left: 'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{a} <br/>{b} : {c} ({d}%)'
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                data: values
                            },
                            series: [
                                {
                                    name: '访问来源',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],
                                    roseType: 'radius',
                                    data: values,
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        }
                    )
                }
            }
        })


        /**
         * 柱状图
         */
        var echartsDataset = echarts.init(document.getElementById('echarts-dataset'), 'walden');

        var optionDataset = {
            legend: {},
            tooltip: {},
            dataset: {
                dimensions: ['product', '2015', '2016', '2017'],
                source: [
                    {product: 'Matcha Latte', '2015': 43.3, '2016': 85.8, '2017': 93.7},
                    {product: 'Milk Tea', '2015': 83.1, '2016': 73.4, '2017': 55.1},
                    {product: 'Cheese Cocoa', '2015': 86.4, '2016': 65.2, '2017': 82.5},
                    {product: 'Walnut Brownie', '2015': 72.4, '2016': 53.9, '2017': 39.1}
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {

            },
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'bar'},
                {type: 'bar'},
                {type: 'bar'}
            ]
        };

        echartsDataset.setOption(optionDataset);


        /**
         * 中国地图
         */
        var echartsMap = echarts.init(document.getElementById('echarts-map'), 'walden');

        var optionMap = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
                    ['Matcha Latte', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                    ['Milk Tea', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                    ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                    ['Walnut Brownie', 55.2, 67.1, 69.2, 72.4, 53.9, 399.1]
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '20%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            ]
        };

        echartsMap.setOption(optionMap);

        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
            echartsMap.reseze();
        }

        /**
         * 往表格填充数据
         */
        var str="";
        var tbody = window.document.getElementById("tbdoy_result1");
        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/admin/show",    //请求发送到/admin/show处
            data : {},
            dataType : "json",        //返回数据形式为json
            success : function(data){
                if(data){
                    for(var i = 0;i<data.length;i++){
                        str += "<tr>" +
                            "<td>" + data[i].goodsName + "</td>" +
                            "<td>" + data[i].goodsSellStatus + "</td>" +
                            "<td>" + data[i].originalPrice + "</td>" +
                            "</tr>";
                    }
                    tbody.innerHTML = str;
                }
            },
            error: function () {
                alert("查询失败")
            }
        })


    });
</script>


<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jqgrid -->
<script th:src="@{/admin/plugins/jqgrid-5.5.2/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.5.2/grid.locale-cn.js}"></script>

<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/newbee_mall_category.js}"></script>
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.js}"></script>
</body>
</html>