<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.dpta.dao.mapper.OrderMapper">
    <select id="selectByShop" resultType="com.cqjtu.dpta.dao.entity.Order">
        select t1.ID, t1.SHOP_ID, DATM, t1.STATE, PROFIT, VERIFY_TM, AMOUNT
        from t_order t1
                 inner join t_shop ts on t1.SHOP_ID = ts.SHOP_ID
            and ts.SHOP_NM like concat('%', #{pg.keyword}, '%')
    </select>

    <select id="selectByComm" resultType="com.cqjtu.dpta.dao.entity.Order">
        select t1.ID, SHOP_ID, DATM, STATE, PROFIT, VERIFY_TM, AMOUNT
        from t_order t1
                 inner join (
            select tod.ORDER_ID
            from t_order_d tod
                     inner join (
                select COMM_ID
                from t_paf_comm
                where COMM_NM like concat('%', #{pg.keyword}, '%')
            ) as t2 on tod.COMM_ID = t2.COMM_ID
        ) as t3 on t1.ID = t3.ORDER_ID
    </select>

    <select id="selectByState" resultType="com.cqjtu.dpta.dao.entity.Order">
        select ID, SHOP_ID, DATM, STATE, PROFIT, VERIFY_TM, AMOUNT
        from t_order
        where STATE like #{pg.keyword}
    </select>

    <select id="selectByDistr" resultType="com.cqjtu.dpta.dao.entity.Order">
        select t1.ID, t1.SHOP_ID, DATM, t1.STATE, PROFIT, VERIFY_TM, AMOUNT
        from t_order t1
                 inner join t_shop ts on t1.SHOP_ID = ts.SHOP_ID
                 inner join t_distr td on ts.DISTR_ID = td.DISTR_ID
            and td.DISTR_NM like concat('%', #{pg.keyword}, '%')
    </select>
</mapper>
